*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    border-bottom: 1px solid #c3c3c3;
}
.header-nav{
    width: 1115px;   /*Странно, но ширина шапки немного больше ширины контейнера 570+282+261=1113*/
    height: 72px;
    margin: 0 auto;
}
.header-nav nav{
    padding: 16px 0px;
}
.nav-left{
    margin-right: 28px;
    font-size: 14px;
    vertical-align: middle;
    font-family: 'Manrope-Bold' , sans-serif;
}

.header-nav a{
    color:#010101;
    text-decoration: none;
}
.dropdown{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.dropdown-options{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100px;
}
.dropdown-options a{
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.header-badge{
    display: inline-block;
    margin-left: 276px;  /*Осознал ошибку*/
}
.nav-right{
    vertical-align: middle;
    margin-right: 8px;
}
/*.nav-right:last-child{
    margin:0;
    Почему-то применяется к обоим элементам одновременно
}*/
.last{
    margin: 0;
}

.container{
    width: 1115px /*Основной контeйнер установил по размерам шапки, чтобы визуально выглядело хорошо*/
}
.landing{
    margin-top: 221px;
}
.landing-page{
    vertical-align: top;
    display: inline-block;
    margin-left: -4px;
    padding-left:120px;
}
.landing-page-block{
    width: 540px;
}

.title{
    font-family: 'Manrope-ExtraBold', sans-serif;
    font-size: 72px;
    line-height: 98px;
}
.landing-page-text{
    font-family: 'Manrope-Regular', sans-serif;
    font-size: 18px;
    line-height: 32px
}
.landing-page-btv{
    color: #ffffff;
    font-size: 20px;
    padding: 16px 40px;
    border-radius: 10px;
    border: 0;
    margin-top: 32px;
    background-color:#8c30f5;
}
.landing-page-img{
    vertical-align: top;
    display: inline-block;
    width: 400px;
    margin-left: -4px;
    padding:56px 0 0 167px;
}

.landing-page-img-top{
    position: relative;
    bottom: 342px;
    right: 109px;
    width: 280px;
}
.landing-page-img-bot{
    position: relative;
    right: -77px;
    bottom: 231px;
    width: 280px;
}
.landing-page-img-iphone{
    width: 250px; /*Если ставить ширину как по ТЗ, то картинка мылится*/

}
.landing-page-img:before{
   position: absolute;
    content: "";
    width: 320px; 
    height: 320px;
    border-radius: 50%;
    z-index: 1;
    bottom: 36px;
    right: 245px; 
}
.landing-page-img:after{
    position: absolute; /*Все же практичнее relative отдельным дивом, поскольку при абсолюте картинка плывет от любого изменения*/
    content: "";
    width: 320px; /*Заявленные 400х400 выходит слишком много, поэтому подобрал на глаз. Не подскажите, с чем это связано, такое различие размеров? Предполангаю что это я не до конца понимаю данную систему.*/
    height: 320px;
    border-radius: 50%;
    background-color: #f1e4ff;
    z-index: -1;
    bottom: 36px;
    right: 245px;

}

.dropdown-options a:hover{
    background-color: #ddd;
}

.dropdown:hover .dropdown-options{
    display: block;
}
